body {
  background-color: rgb(4, 158, 145);
  min-height: 90vh;
}
.canvas1 {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/images/background.png);
  background-size: cover;
  background-position: center;
}
.collisionCanvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}
